{{!-- 
    Partial home/materiel
 --}}


<!--MATERIEL========================-->
    <section class="container d-flex justify-content-around mb-4">
        <div class="row">
            <div class="col-md-12 card mb-3">
                <div class="row no-gutters">

                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text">
                            <h4>Matériel STHIL</h4>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, corporis blanditiis
                            architecto veritatis, iure nam cumque corrupti cupiditate in repellat dignissimos aperiam
                            voluptatem officiis odio neque
                            odit accusantium temporibus adipisci.
                            </p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="./assets/images/shtil1.jpg" class="card-img" alt="...">
                    </div>
                </div>
            </div>

            <div class="col-md-12 card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <img src="./assets/images/cassesvehicule.jpeg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">Diplomes du CASSES</h5>
                            <p class="card-text">
                            <p class="card-text">
                            <h4>Peut conduire tel vehicule</h4>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, corporis blanditiis
                            architecto veritatis, iure nam cumque corrupti cupiditate in repellat dignissimos aperiam
                            voluptatem officiis odio neque odit accusantium temporibus adipisci.
                            </p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>