{{!-- 
    Partial home/realisations
 --}}


<!--MES REALISATIONS====================-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="/mesRealisations">
              <img style="height: 50vh" src="./assets/images/jardinerie/gazon1.jpg" class="d-block w-100"
                alt="1er image">
            </a>
            <div class="carousel-caption d-none d-md-block">
              <h5>Entretien de Jardin</h5>
              <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
          </div>
          <div class="carousel-item">
            <a href="/mesRealisations">
            <img style="height: 50vh" src="./assets/images/jardinerie/gazon2.jpg" class="d-block w-100"
              alt="2eme image">
            </a>
            <div class="carousel-caption d-none d-md-block">
              <h5>Elagage</h5>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
          </div>
          <div class="carousel-item">
            <a href="/mesRealisations">
            <img style="height: 50vh" src="./assets/images/jardinerie/gazon3.jpg" class="d-block w-100"
              alt="3eme image">
            </a>
            <div class="carousel-caption d-none d-md-block">
              <h5>Terrassement</h5>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>