<div class="col-md-6 mt-5 bg-sable text-white" style="border-radius:15px 50px; background-color:#77AB4A">

            <div class="col-md-12 mt-5 text-center">
                <h2 class="font-weight-bold">Enzo Galdeano</h2>
                <h3>Entretien de parcs et jardins, élagage et terrassement</h3>
            </div>  
                

            <div class="col-md-12 mt-5 pt-5 mb-5 text-center">
                    <h5><span class="font-weight-bold">Télephone:</span> 06 18 44 84 97</h5>
                    <h5><span class="font-weight-bold">Mail:</span> enzopaysage@gmail.com</h5>
                    <h5><span class="font-weight-bold">Facebook:</span> Jardinier Galdeano</h5>
                    <h5><span class="font-weight-bold">Instagram:</span> Jardin_Galdeano</h5>
            </div>           
            

           
            <div class="col-md-12 text-center pt-5 font-italic">
                <h4 class="font-italic">"Ponctualité, sourire, efficacité et propreté"</h4>
            </div>
            
        </div>
