<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <div class="col-md-12">
        <h4>Entretien de jardin</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia dignissimos nobis dolorem soluta autem facere natus sit provident quam, atque modi quidem magni aliquid fugiat. Deleniti asperiores nam modi itaque.</p>
    <div class="col-md-12">
        <img style="height: 70vh" src="./assets/images/jardinerie/gazon1.jpg" class="d-block w-70"
                alt="1er image">
    </div>
    </div>
    
</body>
</html>